@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:wght@400;500;700&family=Solway:wght@700&display=swap');

*{
    box-sizing: border-box;
}

/*Mobil*/
#gridcontainer{
    display:grid;
    grid-template-rows: 80px 1fr 200px;
}

body{

    table, th, td {
        border: 1px black solid;
        border-collapse: collapse;
    }

    .klikkbar{  
        text-decoration: underline;
    }

    #nokkelord{
        display:flex;
        gap: 1rem;
        list-style: circle;
    }
    .analysebildecontainer{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .analysebilde{
        max-width:50rem;
    }

    background-color: rgb(250, 250, 250);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;

    
    .ikoner{
        display:flex;
        align-items:center; 
        font-size:1.3rem;
    }

    .mobilehidden{
        display:none;
    }

    a{
        text-decoration:none;
        color:black;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul{
        display:flex;

        li{
            list-style:none;
        }
    }

    .kundeservice{
        border-width: 1px;
    }
    header{
        background-color: rgb(250, 250, 250);
        display:flex;
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: space-around;
        grid-column: 1 / 4;
        grid-row: 1 / 1;
        border: 1px black;
        border-style: none none solid none;
        padding: 1rem;
        min-height: 70px;
        max-height: 80px;
   

        #hamburgercontainer {
            order: 4;
        }

         #logo{
            display:flex;
            order:2;
            justify-content: center;
            & a{
                font-family: 'Solway', serif;
                text-align:center;
                text-transform: uppercase;
                font-size: 1.5rem;
                width: 60%;
            }
         } 

        nav{
            display:flex;
            gap: 1rem;
            align-items: baseline;

            .horisontalliste{
                display:flex;
                gap: 1rem;
                #toppkundeservice{
                    gap:2rem;
                    align-items: center;
                }
            }

            form{
                display:flex;
                align-items:center;
                
                #search{
                    border-radius: 20px;
                    border-style: solid;
                    border-color: black;
                    border-width: 1px;
                    max-height:1.5rem;
                }
                
            #cart{
                order:3;
            }
            #account{
                order:1;
            }
        }

        }
    
        }

        /*hjemmeside*/
    main{
        display:grid;
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        padding: 0 4%;
        gap: 1%;   
            
        #Salgscontainer {
            display: flex;
            width:100%;
            grid-column: 1 / 4;
            grid-row: 1 / 3;
            padding:  0 0 1rem 0;

            figure{
                max-width: 50%;
            }

            .salgsbilde {
                height: 100%;
            }

            #mobilsalgsbilde{
                object-fit:cover;
            }
    
            #salgsoverskrift{
                font-size: 6rem;
                text-align:center;
            }
            #salgsskrift{
                display:none;
            }
            section{
                background-color: hsl(203, 82%, 67%);
                width:50%;
                display:flex;
                justify-content: center;
            }
            }

            .bildeknapp{
                background-color: hsl(0, 0%, 98%);
                border-radius: 20px;
                padding: 10px 20px;
                position: absolute;
                margin: 10%;
            }

            #Nyhetercontainer {
                display:flex;
                grid-column: 1 / 4;
                grid-row: 3 / 3;
                gap: 1rem 0;
            }

            #kategorier{
                display:flex;
                grid-column: 1 / 4;
                grid-row: 4 / 5;

                #kategoricontainermain {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                nav{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    h2{
                        justify-content: center;
                        display: flex;
                    }

                    ul{
                        gap: 1rem;
                        li{
                            display:flex;
                            justify-content: space-around;
                            align-items: center;
                            background-color: hsl(203, 65%, 77%);
                            border-radius: 20px;
                            min-height: 2.3rem;
                            min-width: 5rem;
                            padding: 0 1rem;
                        }
                    }
                }
            }

            #kjop-bruktcontainer{
                display:flex;
                grid-column: 1 / 4;
                grid-row: 5 / 6;
                padding: 1rem 0;
            }

            figure{
                width:100%;
            }

            #artikkellenker{
                grid-column: 1 / 4;
                grid-row: 6 / 7;
                display: flex;
                justify-content: center;

                article{
                    display:flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    justify-content: center;
                    p{
                        display:flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-grow: 10;
                        background-color: hsl(203, 65%, 77%);
                        min-height: 3rem;
                        padding: 0 1rem;
                        gap: 1rem;

                        a{
                            display: flex;
                            align-items: center;
                            background-color: hsl(0, 0%, 98%);
                            border-radius: 20px;
                            border-style: solid;
                            border-color: black;
                            border-width: 1px;
                            min-height: 2rem;
                            min-width: 5rem;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        #populert {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            grid-column: 1 / 4;
            grid-row-start: 7;
            grid-row-end: 8;
            grid-row: 7 / 8;
            gap: 3rem 0;

            #klikkbar-lenke{
                border-style:double;
                border-width: 4px;
                p{
                    a{
                        text-decoration: solid;
                    }
                }
            }

            .produkt {
                flex-basis: 50%;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                max-width: 20rem;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                border-width: 1px;
            }

            p {
                justify-content: center;
                display: flex;
                font-weight: 600;
            }

        }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        grid-column: 1 / 4;
        grid-row: 10 / 11;
        border-style: solid none none;
        background-color: hsl(0, 0%, 98%);
        border-color: rgb(0, 0, 0);
        border-width: 1px;
        margin: 10rem 0 0;
        padding: 0;
        font-size: 0.9rem;
        nav {
            flex-direction: row;
            display: flex;
            gap: 1rem;
            .footeroverskrift {
                display: flex;
                justify-content: center;
                font-weight: 600;
            }
            ul{
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }

    .bildekilde{
        position:relative;
        z-index: 1;
    }
        
    /*kundeservice*/

    #tittel{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        h2{
            font-size: 100%;
        }
    }

    #lenkeholder{
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        align-items: center;
        background-color: hsl(203, 65%, 77%);
        nav{
        padding: 1rem;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
        .servicelenke{
            display: flex;
            background-color: hsl(0, 0%, 98%);
            min-height: 30px;
            max-height: 40px;
            border-radius: 60px;
            justify-content: center;
            align-items: center;
            min-width: 190px;
            max-width: 200px;
            flex-grow: 5;
        }
    }
    
    #fyll{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        padding: 2rem;
    }

    #bunn{
        display:grid;
        grid-column: 1 / 4;
        padding: 1rem;
        background-color: hsl(203, 65%, 77%);

        #omoss{
            display:flex;
            grid-row-start: 4;
            grid-row-end: 5;
            flex-wrap:wrap;
        }
        figure{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                max-width: 500px;
            }
        }
    }

    /*Produkt*/

    #brodsmulesti {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .produktbilde{
        display:flex;
        align-items: center;
        justify-content: space-around;
        grid-column: 1 / 4;
        grid-row: 2 / 3;

        figure{
            max-width: 600px;
            min-width: 200px;
        }

        .piler{
            font-size: 1.3rem;
            padding: 1rem;
        }
    }

    #produktnavn {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 4;

    }

    #storrelser {
        grid-column: 1 / 4;
        display: flex;
        flex-direction: column;
        #storrelsesutvalg {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            gap: 1rem;
            flex-wrap: wrap;
            button {
                min-width: 50px;
                min-height: 50px;
            }
        }
    }
    
    #kjop{
        grid-column: 1 / 4;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        gap: 1rem;

        a{
            background-color: hsl(203, 82%, 67%);
            max-width: 200px;
            min-width: 200px;
            max-height: 50px;
            padding: 1rem;
            border-radius: 60px;
            justify-content: center;
            display: flex;
            font-weight: 600;
        }
    }

    #innholdscontainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        #beskrivelse {
            max-width: 500px;
            padding: 2rem;
            background-color: hsl(203, 65%, 77%);
            min-width: 300px;
        }

        #storrelsekjop{
            flex-direction: column;
            gap: 1rem;
            display: flex;
        }
    }

    aside{
        grid-column: 1 / 4;

        h5{
            display: flex;
            padding: 4%;
            align-items: center;
            font-size: 120%;
        }
        }
    }

    

figure{
    margin:0;
}
    img{
    width:100%;
    margin:0;
}
figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:80%;
}


/*Mobil*/
@media only screen and (max-width:800px){
    #gridcontainer, #gridkunde, #gridprodukt{
        grid-template-columns: 1fr;

        body{

            main{
                #artikkellenker{
                    article p{
                        flex-direction: column;
                    }
                }
            }
        }

        .mobilehidden{
            display:none;
        }
    }

    #gridkunde, #gridprodukt{
        display:grid;
        grid-template-columns: 1fr;
    }
}


/*Desktop*/
@media only screen and (min-width: 801px) {
    #gridcontainer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    body{
        .mobilehidden{
            display: flex;
        }

        #hamburgermeny{
            display:none;
        }


        .desktophidden{
            display: none;
        }

        header{
            justify-content: flex-end;
            gap:1rem;
            nav{
                justify-content: flex-start;
            }
        }

        #kategorier{
            display: none;
        }

        #artikkellenker{
            flex-wrap: nowrap;
        }

        body main #artikkellenker article p{
            flex-direction: row;
            flex-grow: 10;
        }

        body #populert .produkt {
            flex-basis: 33.3%;
        }

        #kjop{
            flex-direction: row;
            justify-content: flex-start;
        }

    }
}


/*Kilder*/

/*https://www.w3schools.com/html/default.asp

https://www.w3schools.com/tags/tag_details.asp

 https://www.w3schools.com/howto/howto_js_slideshow.asp

 https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp

 https://www.w3schools.com/jsref/event_onclick.asp

 https://www.w3docs.com/snippets/css/how-to-hide-elements-in-a-responsive-layout.html

 https://dev.to/ljcdev/hamburger-css-no-js-2dfa

 https://necolas.github.io/normalize.css/
 
 https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html

 ChatGPT til debugging*/